/** Her er skrifttypen **/

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Roboto', sans-serif;
}


/** Dette er baggrundsfarven, som man kan se i toppen af siden **/

header {
  background-color: #20232A;
  width: 100%;
  height: 60px;
}


/** Detter er overskrifen på hjemmesiden (Informationssamling) **/

h1 {
  color: #61DAFB;
  padding-top: 12.5px;
  padding-left: 40px;
  float: left;
  width: 60%;
  font-size: 1.8em;
}


/** Her er navigationslinjen **/

nav ul li {
  float: left;
  margin: 10px;
  list-style: none;
  color: #ffffff;
  margin-right: 30px;
}

nav ul a li:hover {
  color: #61DAFB;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

h4 {
  margin: 10px;
}


/** Her er selve Kom igang siden **/

#komIGang {
  width: 100%;
  height: 335px;
  background-color: #282C34;
}

h2 {
  font-weight: 900;
  padding-top: 60px;
  width: auto;
  margin: 0 33%;
  font-size: 2.5em;
  color: #61DAFB;
}

h3 {
  font-weight: 300;
  padding-top: 20px;
  width: auto;
  margin: 0 33%;
  font-size: 1em;
  color: #ffffff;
}

h5 {
  font-weight: 300;
  font-size: 1.4em;
  color: #282C34;
  float: left;
  font-weight: 500;
  padding: 11.5px 31.5px;
}

.knap {
  background-color: #61DAFB;
  width: 150px;
  height: 50px;
  margin-left: 42.5%;
  margin-top: 40px;
}

.knap:hover {
  background: #ffffff;
}


/** Her er style for den del som er historie om de forskellige sprog **/

#historie {
  width: 90%;
  margin-left: 7.5%;
  margin-top: 100px;
}

#html-historie {
  width: 30%;
  float: left;
  font-weight: 100;
  margin-bottom: 50px;
}

#css-historie {
  width: 30%;
  float: left;
  margin-left: 2.5%;
  font-weight: 100;
  margin-bottom: 50px;
}

#js-historie {
  width: 30%;
  float: left;
  margin-left: 2.5%;
  font-weight: 100;
  margin-bottom: 50px;
}

h6 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #20232A;
}


/** Her er footeren **/

#footer {
  color: #ffffff;
  width: 100%;
  height: 95px;
  background-color: #20232A;
  float: left;
}

#version {
  width: 16%;
  float: left;
  margin-left: 43.5%;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}

#lavetDen {
  width: 16%;
  float: left;
  margin-left: 30%;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

#senestOpdateret {
  width: 20%;
  float: left;
  margin-left: 3%;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}