/** Centrer section **/
section {
  margin: 50px;
}

/** Overskrift **/
h2 {
  color: #20232A;
  font-size: 3em;
}

/** Brødtekst **/
p {
  color: #2D3037;
}

/** Markere den side man er på i navigationsbaren **/
#OnPage {
  color: #61DAFB;
}