/** Her er skrifttypen **/

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Roboto', sans-serif;
}


/** Style for navigationsbaren **/

nav ul li {
  display: inline;
  float: left;
  margin: 10px;
  font-size: 0.8em;
}

nav ul {
  margin-right: 5%;
  margin-top: 10px;
  float: right;
}


/** Dette fjerner strejerne under links med mere **/

a {
  text-decoration: none;
}

a:visited {
  color: #767676;
}

a {
  color: #767676;
}


/** Dette skaber den grønne linje i toppen af dokumentet **/

body {
  border-top: 6px;
  border-top-color: #00cd66;
  border-style: solid;
}


/** Dette er titlen på hjemmesiden, som står i toppen og til vensre i dokumentet "Informationssamling" **/

header h1 {
  float: left;
  margin: 0;
  display: inline;
  width: 32%;
  margin-left: 5%;
  margin-top: 10px;
  font-size: 2.5em;
  color: #575757;
}

section {
  width: 100%;
  float: left;
  margin: 200px 7.5% 0 15%;
}

h2 {
  font-weight: 300; 
  font-size: 2.25em;
}

p {
  color: #767676;
  font-weight: 200;
  margin: 10px 0 0 0;
}

section {
  width: auto;
}

#startup {
  width: 40%;
  height: 40%;
  margin-top: 10px;
}

#css-basics {
  margin-top: 125px;
}