/** Her er skrifttypen. **/

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Roboto', sans-serif;
}

/** Her er style for header. **/

header {
  background-color: #363636;
  padding: 1px 0 1px 0;
  border-style: solid;
  border-color: #696969;
  border-bottom-width: 5px;
}

#info {
  text-align: center;
  margin: 25px;
  color: #ffffff;
}

/** Dette fjerner strejerne under links med mere.**/

a {
  text-decoration: none;
}

a:visited {
  color: #000000;
}

/* Her er style for de forskellige cirkler. */

.overskrift {
  width: 100%;
  float: left;
  margin-top: 75px; 
  margin-left: 50px;
}

#programering {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

#skole {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

div h1 {
  margin: 0;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  padding-top: 44.5px;
  padding-bottom: 44.5px;
  border-radius: 100%;
}

div h1:hover {
  font-size: 35px;
  padding-top: 42px;
}

/** Programering cirkler. **/

#html-div {
  background-color: #1e90ff;
  height: 125px;
  width: 125px;
  border-radius: 100%;
  float: left;
  margin: 16px;
}

#css-div {
  background-color: #1874cd;
  height: 125px;
  width: 125px;
  border-radius: 100%;
  float: left;
  margin: 16px;
}

#js-div {
  background-color: #cd0000;
  height: 125px;
  width: 125px;
  border-radius: 100%;
  float: left;
  margin: 16px;
}

#php-div {
  background-color: #ff7f00;
  height: 125px;
  width: 125px;
  border-radius: 100%;
  float: left;
  margin: 16px;
}

#py-div {
  background-color: #ffd700;
  height: 125px;
  width: 125px;
  border-radius: 100%;
  float: left;
  margin: 16px;
}

#java-div {
  background-color: #00cd66;
  height: 125px;
  width: 125px;
  border-radius: 100%;
  float: left;
  margin: 16px;
}

#dj-div {
  background-color: #008b45;
  height: 125px;
  width: 125px;
  border-radius: 100%;
  float: left;
  margin: 16px;
}

/** Skole cirkler. **/

#mat-div {
  background-color: #1e90ff;
  height: 125px;
  width: 125px;
  border-radius: 100%;
  float: left;
  margin: 16px;
}

#dan-div {
  background-color: #cd0000;
  height: 125px;
  width: 125px;
  border-radius: 100%;
  float: left;
  margin: 16px;
}

#eng-div {
  background-color: #ffd700;
  height: 125px;
  width: 125px;
  border-radius: 100%;
  float: left;
  margin: 16px;
}