/** Her er skrifttypen. **/

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Roboto', sans-serif;
}

/** Her er style for header. **/

header {
  padding: 1px 0 1px 0;
  border-style: solid;
  border-color: #696969;
  border-bottom-width: 5px;
}

#header-html {
    background-color: #1e90ff;
}

#header-css {
    background-color: #1874cd;
}

#header-js {
    background-color: #cd0000;
}

#header-php {
    background-color: #ff7f00;
}

#header-py {
    background-color: #ffd700;
}

#header-java {
    background-color: #00cd66;
}

#header-dj {
    background-color: #008b45;
}

#info {
  text-align: center;
  margin: 25px;
  color: #ffffff;
}

/** Dette fjerner strejerne under links med mere.**/

a {
  text-decoration: none;
}

a:visited {
  color: #000000;
}

/** Dette er style til h2. **/

h2 {
  color: #ffffff;
  font-size: 24px;
}

/** Dette er style til det forskellige divs under HTML. **/

div h2{
  background-color: #1e90ff;
  padding: 8px;
  margin: 25px 25px 5px 25px;;
  float: left;
  margin-right: 100%;
  border-radius: 10px;
}

p {
  background-color: #eee9e9;
  margin: 0 25px 0 25px;
  padding: 10px;
  border-radius: 5px;
  float: left;
}